* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #283618;
  --color-secondary: #606C38;
  --color-tertiary: #FEFAE0;
  --color-quaternary: #DDA15E;
  --color-quinary: #BC6C25;
}

body {
  font-family: 'Mingzat', sans-serif;
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-tertiary);
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--color-quinary);
  color: var(--color-primary);
}

/* Header */

.header-top-strip {
  border-bottom: 1px solid var(--color-secondary);
  background-color: var(--color-primary);
}

.header-upper {
  border-bottom: 1px solid var(--color-primary);
  background-color: var(--color-primary);
}

.header-upper .input-group-text {
  background-color: var(--color-quaternary);
}

.header-bottom {
  background-color: var(--color-secondary);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

/* .header-bottom .dropdown button::before {
  content: url('../public/images/menu.svg');
} */

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-primary);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-secondary);
}

.header-bottom .dropdown-item:hover {
  background-color: var(--color-secondary);
  color: var(--color-quinary) !important;
}


/* Footer */
footer {
  background-color: var(--color-secondary);
}

/* footer:nth-child(3){
  border-top: 15px solid red;
} */

footer:not(:first-child) {
  border-top: 1px solid var(--color-tertiary);
}

footer .input-group-text {
  background-color: var(--color-quaternary);
  color: var(--color-tertiary);
  padding: 8px 17px;
  margin-left: -1px;
}


/* Home Page */
.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-quinary);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-primary)
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-quinary);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-primary)
}

.small-banner {
  width: 49%;
}